* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #000;
    color: #e5e7eb;
}

/* HEADER */
.jarvis-header {
    position: relative;
    height: 160px;
    background: #020617;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid #38bdf8;
    
}

/* JARVIS TEXT (BACK) */
.jarvis-text {
    color: #00eaff;
    font-size: 48px;
    letter-spacing: 6px;
    z-index: 1;          /* BACK */
    position: relative;
}

/* JARVIS ANIMATION (FRONT) */
.jarvis-animation {
    position: absolute;
    top: 20px;           
    width: 80px;         
    z-index: 2;          /* FRONT */
    pointer-events: none;
}


.container {
    display: flex;
    height: 100vh;
}


/* CENTER AREA */
.center-panel {
    width: 66%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.jarvis-core {
    position: absolute;
    top: 50px;
}
 

.jarvis-core img {
    width: 420px;
}


.search-box {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
}

.search-box input {
    width: 100%;
    height: 56px;                 
    padding: 0 20px;              
    border-radius: 30px;
    border: 1.5px solid #38bdf8;
    outline: none;
    text-align: center;

    background: rgba(18, 7, 7, 0.7);
    color: #38bdf8;
    font-size: 16px;
    line-height: 56px;            
}


/* RIGHT CHAT PANEL */
.chat-panel {
    width: 34%;
    background: #020617;
    padding: 12px;
    border-left: 1px solid #38bdf8;
}

.chat-header {
    text-align: center;
    color: #38bdf8;
    margin-bottom: 10px;
}

.messages {
    height: 90%;
    overflow-y: auto;
}

.bot-msg {
    background: #020617;
    border-left: 3px solid #38bdf8;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 6px;
    cursor: pointer;
}

.bot-msg:hover {
    box-shadow: 0 0 10px #38bdf8;
}
